@charset "UTF-8";
/*paleta de colores*/
/* Tamaños*/
/*Magenes*/
.margin__left {
  margin-left: 2em; }

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin-top: 70px; }

@media only screen and (max-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: auto auto auto auto; } }

@media only screen and (max-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: auto auto; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-thumb {
  background-color: #747474; }

a {
  text-decoration: none;
  color: #B2ABF2; }

ul, ol {
  text-decoration: none; }
  ul li, ol li {
    text-decoration: none; }

p {
  font-size: 1.2em; }

h1 {
  text-align: center; }

h2, h3 {
  margin-top: 6%;
  font-size: 1.8em;
  color: #37393A; }

@media only screen and (max-width: 768px) {
  h2, h3 {
    font-size: 1.5em;
    margin: 0; }
  p {
    font-size: 1em; } }

/*PARTIALS*/
.contenedor {
  max-width: 95%;
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 100px auto;
  border-radius: 15px;
  flex-flow: row; }

.casilla:hover {
  box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.39); }

.casilla {
  min-height: 220px;
  cursor: pointer;
  transition: all 0.4s ease;
  border-radius: 15px;
  margin: 30px 10px;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  margin-top: 80px; }
  .casilla h2 {
    padding: 10px 10px; }
  .casilla__row {
    display: flex;
    flex-direction: row;
    width: 50%; }
  .casilla__column {
    display: flex;
    flex-direction: column;
    width: 100%; }
  .casilla__titulo {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-bottom: 20px;
    left: auto; }
  .casilla__contenido {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .casilla__contenido p {
      text-align: center; }
  .casilla img {
    color: #37393A;
    width: 80px;
    height: 80px; }

@media only screen and (max-width: 768px) {
  .contenedor {
    max-width: 80%;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center; }
  .casilla__titulo {
    position: relative; } }

header {
  background-color: #37393A;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2; }
  header .logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40;
    line-height: 80px; }
  header .nav {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto; }
    header .nav__toggle {
      color: #B2ABF2;
      background-color: none;
      border: none;
      font-size: 30px;
      padding: 0 20px;
      line-height: 60px;
      cursor: pointer;
      display: none; }
    header .nav__link {
      color: #B2ABF2;
      text-decoration: none; }
    header .nav__menu {
      display: flex;
      margin-right: 40px;
      list-style: none; }
      header .nav__menu__item {
        font-size: 18px;
        margin: 0 10px;
        line-height: 80px;
        text-transform: uppercase;
        width: max-content; }
      header .nav__menu__link {
        padding: 8px 12px;
        border-radius: 3px; }

@media only screen and (max-width: 768px) {
  header {
    height: 60px; }
    header .logo {
      font-size: 25px;
      padding: 0 20px;
      line-height: 60px; }
    header .nav__toggle {
      background-color: #37393A;
      display: block; }
      header .nav__toggle :focus:not(:focus-visible) {
        outline: none; }
    header .nav__menu {
      flex-direction: column;
      align-items: center;
      margin: 0;
      background-color: #2c3e50;
      position: fixed;
      top: 60px;
      width: 100%;
      padding: 20px 0;
      width: 100% -60px;
      overflow: auto;
      left: 100%;
      transition: left 0.3s; }
      header .nav__menu__visible {
        left: 0;
        display: absolute; }
      header .nav__menu__item {
        line-height: 70px; } }

footer {
  display: flex;
  width: 100%;
  background-color: #37393A;
  padding: 10px 0px; }
  footer .footer__contenedor {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }
    footer .footer__contenedor__logo {
      display: flex;
      flex-direction: column;
      width: 100%; }
    footer .footer__contenedor__terms {
      display: flex;
      justify-self: flex-start;
      max-width: 350px;
      text-justify: auto; }
    footer .footer__contenedor a {
      margin: 10px 5px; }
    footer .footer__contenedor .footer__caja {
      display: flex;
      flex-direction: column;
      margin: 0 100px; }

@media only screen and (max-width: 768px) {
  .footer__contenedor {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin-top: 50px; }
    .footer__contenedor__logo {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0px 10px; }
    .footer__contenedor__terms {
      display: flex;
      justify-self: flex-start;
      max-width: 350px;
      text-justify: auto; }
    .footer__contenedor .footer__caja {
      margin: 20px 0px; } }

/*PAGES*/
.contenedor__servicios {
  max-width: 95%;
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 100px auto;
  border-radius: 15px;
  flex-flow: row; }
  .contenedor__servicios__titulo {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: auto; }
  .contenedor__servicios__casilla {
    min-height: 220px;
    cursor: pointer;
    transition: all 0.4s ease;
    border-radius: 15px;
    margin: 30px 10px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    margin-top: 80px; }
    .contenedor__servicios__casilla__contenido {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      width: 100%; }
      .contenedor__servicios__casilla__contenido img {
        color: #37393A;
        width: 80px;
        height: 80px; }
      .contenedor__servicios__casilla__contenido p {
        text-align: center;
        color: #B2ABF2; }

@media only screen and (min-width: 768px) and (max-width: 1074px) {
  h2 {
    font-size: 1.2em; }
  .contenedor__servicios__casilla__titulo {
    position: relative; }
  .contenedor__servicios__casilla__contenido img {
    width: 61.53846px;
    height: 61.53846px; } }

@media only screen and (max-width: 768px) {
  .contenedor__servicios {
    max-width: 80%;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center; }
    .contenedor__servicios__titulo {
      position: relative; }
    .contenedor__servicios__casilla {
      margin: 0; } }

.animacion-typing {
  font-weight: bold;
  color: #B2ABF2; }

.btn-aboutme {
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 20px;
  margin: 20px 0px; }
  .btn-aboutme :hover {
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.4);
    padding: 10px 30px;
    border-radius: 20px;
    margin-top: 20px;
    font-size: 20px; }

.contenedor__aboutme {
  max-width: 95%;
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 100px auto;
  border-radius: 15px;
  flex-flow: row; }
  .contenedor__aboutme__titulo {
    display: flex;
    flex-direction: row;
    position: absolute; }
  .contenedor__aboutme__contenido {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%; }
  .contenedor__aboutme__row {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center; }
  .contenedor__aboutme__column {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .contenedor__aboutme__column img {
      max-width: 300px;
      max-height: 300px;
      margin-left: 40%; }

@media only screen and (max-width: 768px) {
  .contenedor__aboutme {
    max-width: 80%;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center; }
    .contenedor__aboutme__column {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center; }
      .contenedor__aboutme__column img {
        max-height: 200px;
        max-width: 200px;
        margin: 0; }
    .contenedor__aboutme__titulo {
      position: relative; } }

.skills {
  margin-top: 100px;
  min-height: 220px;
  cursor: pointer;
  transition: all 0.4s ease;
  border-radius: 15px;
  margin: -40px 10px;
  display: flex; }
  .skills__contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .skills__contenido img {
      width: 100px;
      height: 100px; }

.contenedor__contacto {
  max-width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 100px auto;
  border-radius: 15px; }
  .contenedor__contacto__titulo {
    display: flex;
    flex-direction: row;
    position: absolute; }
  .contenedor__contacto__row {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center; }
  .contenedor__contacto__column {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 50px 0px; }

.textarea {
  width: 100%;
  height: 100%;
  font-size: 15px;
  outline: none; }
  .textarea__comment {
    width: 100%;
    height: 100%;
    resize: none;
    margin-top: 20px; }

.contenedor__btn {
  display: flex;
  justify-content: flex-start; }
  .contenedor__btn__contacto {
    color: #37393A;
    padding: 10px 30px;
    margin-top: -20px;
    font-size: 20px;
    border-radius: 20px;
    background-color: #B2ABF2; }

.contactoimg {
  width: 30px;
  height: 30px;
  color: #B2ABF2;
  margin: 10px 10px; }

@media only screen and (max-width: 768px) {
  .contenedor__contacto {
    max-width: 80%;
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 100px auto;
    border-radius: 15px; }
    .contenedor__contacto__titulo {
      display: flex;
      flex-direction: row;
      position: absolute; }
    .contenedor__contacto__row {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin: 20px 20px;
      font-size: 0.8em; }
    .contenedor__contacto__column {
      display: flex;
      flex-flow: column wrap;
      width: 100%;
      margin: 10px -10px; }
  .textarea {
    width: 60%;
    height: 60%;
    font-size: 15px;
    outline: none; }
    .textarea__comment {
      width: 200px;
      height: 100px;
      resize: none; }
  .contactoimg {
    width: 20px;
    height: 20px;
    color: #B2ABF2;
    margin: 5px 10px; }
  .contenedor__btn {
    display: flex;
    justify-content: center; }
    .contenedor__btn__contacto {
      color: #37393A;
      padding: 10px 30px;
      margin: 0;
      font-size: 12px;
      border-radius: 20px;
      background-color: #B2ABF2; } }

.tarjeta {
  height: 320px; }
  .tarjeta p {
    text-align: center; }
  .tarjeta__contenido {
    margin: 20px 20px; }
    .tarjeta__contenido :hover {
      box-shadow: 2px 2px 20px 0 black; }
    .tarjeta__contenido img {
      width: 225px;
      height: 150px;
      border-radius: 50%; }
