/*INICIO NORMALIZACION*/
html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #747474;
}
a{
    text-decoration: none;
    color:$azul;
}
ul,ol{
    text-decoration: none;
    li{
        text-decoration: none;
    }
}
p{
    font-size: 1.2em;
}
h1{
    text-align: center;
}
h2,h3{ 
    font-size: 1.8em;
    color: $negro;
}
@media only screen and (min-width:769px)and (max-width:992px){
    h2,h3{
        font-size: 22px;
    }
}
@media only screen and (max-width:768px){
    h2,h3{
        font-size: 1.5em;
        margin: 0;
    }
    p{
        font-size: 1em;
        width: 80%;
        margin: 10px 0;
    }

}
@media only screen and (max-width:600px){
    h2,h3{
        font-size: 120%;
    }
    p{
        font-size: 90%;
    }
}
@media only screen and (max-width:320px){
    h2,h3{
        font-size: 80%;
    }
    p{
        font-size: 75%;
    }
}
@media only screen and (min-width:320px) and (max-width:420px){
    h2,h3{
        font-size: 100%;
    }
    p{
        font-size: 84%;
    }
}
/*FIN NORMALIZACION*/