/*paleta de colores*/
$azul:#B2ABF2;
$verde:#A7CAB1;
$naranjo:#F26419 ;
$negro:#37393A;
/* Tamaños*/
$width-img:80px;
$height-img:80px;
$width-porcent:100%;

.grid{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
