/*paleta de colores*/
$azul:#B2ABF2;
$verde:#A7CAB1;
$naranjo:#F26419 ;
$negro:#37393A;
/* Tamaños*/
$width-img:80px;
$height-img:80px;
$width-porcent:100%;
/*Magenes*/
.margin{
    &__left{
        margin-left: 2em;
    }
}

.grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-top: 70px;
}
@media only screen and (max-width:768px){
    .grid{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
}
@media only screen and (max-width:600px){
    .grid{
        display: grid;
        grid-template-columns: auto auto;
    }
}