/*INICIO ABOUTME*/
.animacion-typing{
    font-weight: bold;
    color: $azul;
}

.btn-aboutme{
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 20px;
    margin: 20px 0px;
    :hover{
        box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.4);
        padding: 10px 30px;
        border-radius: 20px;
        margin-top: 20px;
        font-size: 20px;
    }
}
.contenedor__aboutme{
    max-width: 85%;
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
    margin: 100px auto;
    border-radius: 15px;
    flex-flow: row;
    &__titulo{
        display: flex;
        flex-direction: row;
        position: absolute;
    }
    &__contenido{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 100%;
    }
    &__row{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        padding: 20px;
    }
    &__column{
        display: flex;
        flex-direction: column;
        &__left{
            width: 80%;
            img{
            max-width: 300px;
            max-height: 300px;
            }
        }
        &__right{
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }
}
@media only screen and (max-width:768px) {
    .contenedor__aboutme{
        max-width: 80%;
        flex-flow: wrap column;
        justify-content: center;
        align-items: center;
        &__column{
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            
            &__left{
                display: flex;
                width: 100%;
                justify-content: center;
                img{
                    max-height: 200px;
                    max-width: 200px;
                    margin:0;
                }
            }
        }
        &__titulo{
            position: relative;
        }
    }
}
@media only screen and (max-width:600px){
    .contenedor__aboutme{
        &__row{
          margin:30px 0;
        }
    }
}
@media only screen and (min-width:769px) and (max-width:992px){
    .contenedor__aboutme{
        &__row{
            padding: 20px 20px;
          p{
              font-size: 18px;
          }
        }
    }
}
@media only screen and (min-width:1400px) {
    .contenedor__aboutme{
        &__column{
            &__left{
            img{
                margin-left: 45%;
            }
            } 

        }
    } 
}
@media only screen and (max-width:1090px){
    .contenedor__aboutme{
        &__column{
            &__right{
                display: flex;
                width: 100%;
                justify-content: center;
                img{
                    max-height: 200px;
                    max-width: 200px;
                    margin:0;
                }
            }
        }
    }    
}

/*FIN ABOUTME*/