/*INICIO PROYECTOS*/
.contenedor{
    &__titulo{
        display: flex;
        flex-direction: row;
        position: absolute;
    }
}
.tarjeta{
    padding: 40px 0px;
    margin: 20px;
    height:320px;
    p{
        text-align: center;
    }
    &__contenido{
        margin: 20px 20px;
        :hover{
            box-shadow: 2px 2px 20px 0 rgb(0, 0, 0);
        }
        img{
            width:225px;
            height:150px;
            border-radius: 50%;
        }
        
    }
}
@media only screen and (max-width:768px) {
    .contenedor{
        &__titulo{
            position: relative;
        }
    }
}
/*FIN PROYECTOS*/